<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269902830085-fhsk0lcn40up8n8f5khgpqlnubujfk4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269902830085-fhsk0lcn40up8n8f5khgpqlnubujfk4r</string>
	<key>API_KEY</key>
	<string>AIzaSyBHFFqbyo55gwVfH-DEeIbRIucotTp9z64</string>
	<key>GCM_SENDER_ID</key>
	<string>269902830085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.riyadh.season</string>
	<key>PROJECT_ID</key>
	<string>riyadh-season</string>
	<key>STORAGE_BUCKET</key>
	<string>riyadh-season.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269902830085:ios:509fe032f8cc6c1ca41a6c</string>
	<key>DATABASE_URL</key>
	<string>https://riyadh-season.firebaseio.com</string>
</dict>
</plist>